[submodule "sw/casperfpga"]
	path = software/casperfpga
	url = https://github.com/realtimeradio/casperfpga
[submodule "sw/dma_ip_drivers"]
	path = software/dma_ip_drivers
	url = https://github.com/realtimeradio/dma_ip_drivers
[submodule "firmware/mlib_devel"]
	path = firmware/mlib_devel
	url = https://github.com/realtimeradio/mlib_devel
